@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.sfxc-bg-image {
    background-color: darkgreen;
    background-image: url(/storage/app/public/image/background/XavierBuilding.png);
    background-size: cover;
}

@media print {

    html,
    body {
        margin: 0;
    }

    .page-break {
        margin-top: 10mm;
        display: block;
        page-break-before: auto;
    }

    @page {
        size: auto;
        margin: 20mm 20mm 20mm 20mm;
    }
}

.on-print {
    @media print {
        display: none;
    }
}

.print-header {
    display: none;

    @media print {
        display: inline;
        margin: 0 20mm 20mm 20mm;
    }
}