@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
@media print {
    html, body {
        margin: 0;
      }
    main {
        margin-top: 20mm; /* Adjust to your header height */
        margin-bottom: 20mm; /* Adjust to your footer height */
    }
    .print-hide {
        display: none;
    }

    .print-show {
        display: block;
    }
    .page-break {
        margin-top: 100mm;
        display: block;
        page-break-before: auto;
    }
    .printable-content {
        page-break-inside: avoid;
    }
    .print-header, .print-footer {
        position: fixed;
        width: 100%;
    }
    .print-header {
        top: 0;
    }
    .print-footer {
        bottom: 0;
    }
    @page {
        size: auto;
        margin: 20mm;
      }
}
